* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    width: 100%;
    margin: 0 auto;
    background-color: cadetblue;
    grid-template-columns: 1fr auto minmax(1100px, 1fr) 1fr;
}
h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    grid-column: 2 / 3;
    color: white;
}
nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 3em;
    margin-bottom: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.hero {
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 420px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #1686d9;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    margin-top: 10px;
    display: inline-block; 
}

.button:hover {
    background-color: white;
    color: #1686d9;
    border: 2px solid #1686d9;
}

.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .modal-contents {
    height: 300px;
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
  }
  
  input {
    margin: 15px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    cursor: pointer;
  }
  .close:hover {
    color: #666;
  }